body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--oc-gray-9);
  color: var(--oc-gray-5);
}

code {
  font-family: 'Fira Code', monospace;
}
